@import url(../../vendor/normalize.css);
@import url(../../vendor/font.css);

.page{
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Nunito, Arial, sans-serif;
}

.wrapper {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  color: #212121;
}

.buttons {
  transition: opacity 0.25s linear;
  cursor: pointer;
  text-decoration: none;
}

.buttons:hover {
  opacity: 0.6;
}

.shadow-buttons {
  transition: box-shadow 0.25s linear;
  cursor: pointer;
  text-decoration: none;
}

.shadow-buttons:hover {
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(164, 164, 164, 0.03);
}

.scale-buttons {
  transition: transform 0.15s linear;
  cursor: pointer;
  text-decoration: none;
}

.scale-buttons:hover {
  transform: scale(1.2);
}
