.header {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.header__logo {
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 2px solid #dadada;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.header__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
}

.header__content_main {
  text-align: center;
}

.header__content_other {
  padding-left: 40px;
  padding-right: 40px;
}
